%h3= "Edit Member info for #{current_user.username}"

%table{:class => "rounded small-frm"}
	%tr 
		%td 
			=form_tag update_user_email_path, :method => "get" do
				=hidden_field_tag "id", current_user.id
				%table{:style => "width: 100%"} 
					%tr 
						%td.lbl-sngl-ln= label_tag :email
						%td= text_field_tag :email, @user.email, :class => "small-frm-field"
					%tr 
						%td{:colspan => "2", :class => "btn-cell"}
							= submit_tag "Save Email", :class => "btn"
					
%br/
%table{:class => "rounded small-frm"}
	%tr 
		%td 
			=form_for current_user, :class => "small-frm" do |f|
				%table{:style => "width: 100%"} 
					%tr 
						%td.lbl-sngl-ln= f.label :password, "New Password"
						%td= f.password_field :password
					%tr 
						%td.lbl-sngl-ln= f.label :password_confirmation, "Confirm Password"
						%td= f.password_field :password_confirmation
					
					%tr 
						%td{:colspan => "2", :class => "btn-cell"}
							= submit_tag "Save Password", :class => "btn"
