=form_for @post do |f|
	%table{:class => "rounded small-frm"}
		%tr 
			%td.lbl-sngl-ln= f.label :title
			%td= f.text_field :title, :class => "form-field"
		%tr 
			%td{:class => "lbl"}= f.label :body
			%td= f.text_area :body, :class => "form-field"
		%tr 
			%td{:class => "lbl"}= f.label :public
			%td= f.check_box :public
		%tr 
			%td.btn-cell{:colspan => "2", :style => "padding-top: 10px;"}
				= f.submit "Submit Post", :class => "btn"