
%h3
	-if @user
		= "Posted by #{@user.username}"
	-elsif @for_user_id
		= "Posted by " + User.find(@for_user_id).username
	-else
		Current Posts
%br/ 
%table
	%tr 
		%td{:style => "vertical-align: bottom; width: 50%"}  
			#sort
				=form_tag @search_form_action, :method => :get, :class => "sort pull-left" do |f|
					&nbsp;
					= label_tag :sort_by
					= select_tag :sort_by, options_for_select(["Age", "Title", "Comments"], params[:sort_by]), :onchange => "submit()"
		/ %td{:style => "width: 225px"} &nbsp;
		%td{:style => "width: 50%; vertical-align: top"}	
			#search
				=form_tag @search_form_action, :method => :get, :class => "navbar-search pull-right" do
					.right-inner-addon 
						%i.icon-search 
						=text_field_tag :query, params[:query], :class => "search-query", :placeholder => "Search"
						/ %button{:class => "icon-search close", :type => "submit"}
						
		%td{:style => "width: 10px"}
			%i{:alt => "Clear Search", :class => "close icon-remove-sign", :style => "vertical-align: middle; color: black", :onclick => "clear_search(this);"}
		%table{:class => "rounded", :style => "width: 100%"}
			-if @posts.size > 0
				-@posts.each do |post|
					%tr 
						%td.post
							/ %div.post{:style => "border: 2px #888888 solid"}
							.posted_by= link_to "posted by #{post.user.username}", posts_path(:user_id => post.user.id)
							%h4{:class => "post-header"}= post.title
							-unless @searched && !@user && !post.public
								%div{:style => "width: 90%"}
									%div
										%b= post.public ? "Public - " : "Private - "
										= get_age(post.created_at, "hours").to_s + " hours old"
									%div.body_text=post.body 
									%br/ 
									%div.comments_count= pluralize(post.comments.size, 'comment')
									-post.comments.each_with_index do |comment, i|
										%span.label
											= "Comment " + (i + 1).to_s + ": "
										%span.comment_body= comment.body
										%br/
									=link_to "add a comment", new_post_comment_path(post)
									-if @user
										|
										=link_to "edit post", edit_post_path(post)
										|
										=link_to "delete post", destroy_post_path(:id => post.id)
			-else
				%tr 
					%td 
						No posts found
-content_for :head do
	%script{:language => "javascript"} 
		$(document).ready(function() {
		$('div.body_text, span.comment_body').expander({
		slicePoint:       255,  //TODO: This should not be hardcoded!
		expandPrefix:     '... ',
		expandText:       '[more]',
		userCollapseText: '[less]',
		expandEffect: 'fadeIn',
		expandSpeed: 250,
		collapseEffect: 'fadeOut',
		collapseSpeed: 200
		});
		});

